
header {
    background-color:darkred;
    text-align: center;
    color: white;
    
}

img.little {
    border: 2px dashed black;
}

section {
    text-align: center;
}

p {
    font-size: 18px;
    margin-right: 1vw;
}

span.blue {
    color: blue;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
}

footer p {
    font-size: 20px;
}

div {
    text-align: center;
}

